:host {
    display: block;
    background-color: white;
    margin: 10px;
    padding: 1rem;
    border-radius: 0.6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumb-img {
    max-width: 250px; max-height: 250px;
}

.view-link {
    font-size: 20px;
}

.btn-model-light {
    border-color:   #598f39;
    color:   #598f39;
}

.btn-model-light:hover {
    background-color:   #598f39;
    color: rgb(242, 242, 241);
}
