.thumb-img {
    max-width: 250px; max-height: 250px;
}

.view-link {
    font-size: 20px;
}

.btn-model-light {
    border-color:   #282572;
    color:   #282572;
}

.btn-model-light:hover {
    background-color:   #282572;
    color: rgb(242, 242, 241);
}